<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="text-3xl">Todos</h1>
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 border">Thing to do</div>
            <ul class="border">
            <% todos.forEach( el => { %>
                    <div class="max-w-sm h-24 rounded overflow-hidden shadow-lg border flex items-center">
                    <li class='todoItem align-middle' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='del'> Delete </span>
                    </li>
                    </div>
            <% }) %>    
            </ul>
    </div>
</div>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST' class="border">
        <input type="text" placeholder="Enter Todo Item" name='todoItem' class="border">
        <input type="submit" class="border">
    </form>

    <a href="/logout" class="border">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>